


  <!-- upper section -->
  <div class="row">
	<div class="col-sm-3">
      <!-- left -->
      <h3><i class="glyphicon glyphicon-briefcase"></i> Toolbox</h3>
      <hr>

      <ul class="nav nav-stacked">
        <li><a href="<%= url_for :controller => 'item_type', :action => 'index' %>"><i class="fa fa-camera-retro"></i> Item Types</a></li>
        <li><a href="<%= url_for :controller => 'crest_interface', :action => 'index' %>"><i class="fa fa-camera-retro"></i> Crest Interface</a></li>

      </ul>

      <hr>

  	</div><!-- /span-3 -->
    <div class="col-sm-9">

      <!-- column 2 -->
       <h3><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h3>

       <hr>

	   <div class="row">
            <!-- center left-->
         	<div class="col-md-7">


              <div class="panel panel-default">
                  <div class="panel-heading"><h4>Processing Status</h4></div>
                  <div class="panel-body">


                    <small>Item Types Scanning Progress</small>

                    <%
                    scanningValue = CrestDatum.percentScanned*100 + 1
                    %>

                    <div class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="<%=  scanningValue %>" aria-valuemin="0" aria-valuemax="100" style="width: <%=  scanningValue.to_s %>%">
                        <span class="sr-only"><%=  scanningValue.to_s %>% Complete</span>
                      </div>
                    </div>


                  </div><!--/panel-body-->
              </div><!--/panel-->

          	</div><!--/col-->

            <!--center-right-->
        	<div class="col-md-5">

                <ul class="nav nav-justified">
         			<li><a href="#"><i class="glyphicon glyphicon-cog"></i></a></li>
                    <li><a href="#"><i class="glyphicon glyphicon-heart"></i></a></li>
         			<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-comment"></i><span class="count">3</span></a><ul class="dropdown-menu" role="menu"><li><a href="#">1. Is there a way..</a></li><li><a href="#">2. Hello, admin. I would..</a></li><li><a href="#"><strong>All messages</strong></a></li></ul></li>
         			<li><a href="#"><i class="glyphicon glyphicon-user"></i></a></li>
         			<li><a title="Add Widget" data-toggle="modal" href="#addWidgetModal"><span class="glyphicon glyphicon-plus-sign"></span></a></li>
       			</ul>

                <hr>


			</div><!--/col-span-6-->

       </div><!--/row-->
  	</div><!--/col-span-9-->

  </div><!--/row-->
  <!-- /upper section -->

  <!-- lower section -->
  <div class="row">

    <div class="col-md-12">

    </div>



      <hr>


  </div><!--/row-->
  


<footer class="text-center"> </footer>


<div class="modal" id="addWidgetModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Add Widget</h4>
      </div>
      <div class="modal-body">
        <p>Add a widget stuff here..</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn">Close</a>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dalog -->
</div><!-- /.modal -->




	<!-- script references -->

	</body>
</html>
