<script src="http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js"></script>


<% item = ItemType.find_by_id(params[:id]) %>

<h2>
<%=  item.name %>
</h2>

<h4> Collected on
<%=  item.marketDataLastCollected %>
</h4>

<h4> Average Prices </h4>
<div id="avgPriceChart" style="height: 550px;"></div>

<h4> Low Prices </h4>
<div id="lowPriceChart" style="height: 550px;"></div>

<h4> High Prices </h4>
<div id="highPriceChart" style="height: 550px;"></div>

<script>

<%

lowPriceData = [

]

highPriceData = [

]

avgPriceData = [

]

  RegionalItemPriceDatum.where(itemID: params[:id]).each do |dataPoint|


      region = Region.find_by_id(dataPoint.regionID)

      avgInfo = { date: dataPoint.marketDate  }
      avgInfo[ region.name ] = dataPoint.avgPrice
      avgPriceData.push( avgInfo  )

      lowInfo = { date: dataPoint.marketDate  }
      lowInfo[ region.name ] = dataPoint.lowPrice
      lowPriceData.push( lowInfo  )

      highInfo = { date: dataPoint.marketDate  }
      highInfo[ region.name ] = dataPoint.highPrice
      highPriceData.push( highInfo  )



  end




%>


new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'avgPriceChart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: <%=  avgPriceData.to_json.html_safe %>,
  // The name of the data record attribute that contains x-values.
  xkey: 'date',
  // A list of names of data record attributes that contain y-values.
  ykeys: <%=  CrestDatum.tradeRegionNames.to_json.html_safe %>,
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: <%=  CrestDatum.tradeRegionNames.to_json.html_safe %>
});

new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'lowPriceChart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: <%=  lowPriceData.to_json.html_safe %>,
  // The name of the data record attribute that contains x-values.
  xkey: 'date',
  // A list of names of data record attributes that contain y-values.
  ykeys: <%=  CrestDatum.tradeRegionNames.to_json.html_safe %>,
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: <%=  CrestDatum.tradeRegionNames.to_json.html_safe %>
});

new Morris.Line({
  // ID of the element in which to draw the chart.
  element: 'highPriceChart',
  // Chart data records -- each entry in this array corresponds to a point on
  // the chart.
  data: <%=  highPriceData.to_json.html_safe %>,
  // The name of the data record attribute that contains x-values.
  xkey: 'date',
  // A list of names of data record attributes that contain y-values.
  ykeys: <%=  CrestDatum.tradeRegionNames.to_json.html_safe %>,
  // Labels for the ykeys -- will be displayed when you hover over the
  // chart.
  labels: <%=  CrestDatum.tradeRegionNames.to_json.html_safe %>
});

</script>
