
<!DOCTYPE html>
<html>
<head>
  <title>Galactic Advisor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>



  <!-- Header -->
  <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-toggle"></span>
        </button>
        <a class="navbar-brand" href="/">Galactic Advisor</a>
      </div>
      <div class="navbar-collapse collapse">



        <ul class="nav navbar-nav navbar-right">



          <li class="dropdown">
            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
              <i class="fa fa-user"></i>Admin <span class="caret"></span></a>
            <ul id="g-account-menu" class="dropdown-menu" role="menu">
              <li><a href="#">My Profile</a></li>
              <li><a href="#"><i class="fa fa-lock"></i> Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div><!-- /container -->
  </div>
  <!-- /Header -->



  <!-- Main -->
  <div class="container">

    <!-- upper section -->
    <div class="row">
    <div class="col-sm-3">
        <!-- left -->

        <!--
        <h3><i class="fa fa-wrench"></i>Toolbox</h3>
      -->


        <hr>

        <ul class="nav nav-stacked">
          <li><a href="<%= url_for :controller => 'home', :action => 'index' %>"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="<%= url_for :controller => 'item_type', :action => 'index' %>"><i class="fa fa-shield"></i> Item Types</a></li>
          <li><a href="<%= url_for :controller => 'crest_interface', :action => 'index' %>">
            <% if CrestDatum.collectingMarketData %>
            <i class="fa fa-spinner fa-spin"></i>
            <%else%>
              <i class="fa fa-times"></i>
          <%  end  %>
             Market Scanner</a></li>

        </ul>

        <hr>

      </div><!-- /span-3 -->
      <div class="col-sm-9">

<%= yield %>

</div><!--/col-span-9-->

</div><!--/row-->

</div><!--/container-->
<!-- /Main -->


</body>
</html>
